*{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: black;
    color:white;
    padding: 5px 10px 5px 10px;
    margin:10px;
}
#heading{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}
.block{
    background-color: rgb(223, 223, 223);
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height:fit-content
    display: flex;
}
#btn-add{
    border-radius: 15px;
    background-color: greenyellow;
    color:black;
    
}
#btn-wish{
    border-radius: 15px; 
    background-color: lightpink;
    color:black;
}